
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppoins', sans-serif;
}

body{
    color: #ededed;
}

.header{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%; 
    display: flex;
    justify-content: space-between;
    align-self: center;
    z-index: 100;
}

.logo{
    font-size: 55px;
    color: #f0ffff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 0 25px #0a5ae2;
}

.tagline {
    font-size: 14px;
    color: #555; 
    display: block; 
}

.navbar i{
    font-size: 45px;
    color: #ededed;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;  
    text-shadow: 0 0 20px #000000;
}

.navbar a{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;  
    text-shadow: 0 0 20px #000000;
}

.navbar a:hover{
    color: #4d86e6;
    text-shadow: 0 0 25px #000000;
}
